
body {
  background-color: rgb(178, 229, 245);
}
.navbar-brand {
  background-color: rgb(214, 70, 137);
  font-weight: bold;
  font-size: 25px;
  }
  .container-fluid {
    font-weight: bold;
  }
  div.container-fluid {
    padding-right: 50px;
  }
