body {
  padding: 10;
  margin: 10;
}



html {
  height: 100%;
}
 body{
  background-color: lightblue;
}
#map {
  width: 100%;
  height: 100vh;
  
}

#map {
  width: 1200px;
  padding: 15px;
  border: 5px solid gray;
  margin: 5%;
  margin-top:-5px;
}

